.start-wrapper{
    background: #000000;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}

.logo-wrapper{

    top: 20%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.company-logo{
    height: 84px;
}
.presents{
    height: 16px;
}

.event-logo{
    height: 195px;
    width: 620px;
}

.app-start{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    background: rgba(43, 182, 115, 1);
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    height: 42px;
    cursor: pointer;
    width: 150px;
    position: relative;


}



form{
    display: flex;
    flex-direction: column;
    width: 55%;
    
    .form-input-wrapper{
        display: flex;
        flex-direction: column;
        gap:10px;
    }

    .p-field{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
    }
    input{
        padding: 10px 35px;
        border-radius: 8px;
        border: none;
        width: 100%;
    }

    label{
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 5px;
        color: #C5C5C5;
    }

    .p-error{
        font-size: 12px;
        color: #FF5555;
        
        
    }

    
}

.form-button-wrapper{
    display: flex;
    justify-content: center;
}
